/*-------------------------------------------------
 =  Table of Css

 1.Isotope
 1.KENBURNER RESPONSIVE BASIC STYLES OF HTML DOCUMENT
 3.Header
 4.General
 5.content - home sections
 6.about page
 7.single project
 8.blog page
 9.services
 10.Contact page
 11.footer
 12.Responsive part
-------------------------------------------------*/
/*-------------------------------------------------------*/
/* 1. Isotope filtering
/*-------------------------------------------------------*/
a{text-decoration:none !important;}
.isotope-item {
  z-index: 2;
}
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  transition-duration: 0.8s;
}
.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  transition-property: height, width;
}
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  transition-property: transform, opacity;
}
/*-----------------------------------------------------------------------------

KENBURNER RESPONSIVE BASIC STYLES OF HTML DOCUMENT

Screen Stylesheet

version:    1.0
date:       07/27/11
author:     themepunch
email:      support@themepunch.com
website:    http://www.themepunch.com
-----------------------------------------------------------------------------*/
.boxedcontainer {
  max-width: 1170px;
  margin: auto;
  padding: 0px 30px;
}
/*********************************************
    -   SETTINGS FOR BANNER CONTAINERS  -
**********************************************/
.tp-banner-container {
  width: 100%;
  position: relative;
  padding: 0;
}
.tp-banner {
  width: 100%;
  position: relative;
}
.tp-banner-fullscreen-container {
  width: 100%;
  position: relative;
  padding: 0;
}
/*-------------------------------------------------*/
/* =  Header
/*-------------------------------------------------*/
.navbar-default {
  background: #ffffff;
  box-shadow: 0 0px 3px #a1a1a1;
  -webkit-box-shadow: 0 0px 3px #a1a1a1;
  -moz-box-shadow: 0 0px 3px #a1a1a1;
  -o-box-shadow: 0 0px 3px #a1a1a1;
  border: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  margin: 0;
}
.navbar-header {
  z-index: 99;
  position: relative;
}
.navbar-brand {
  height: auto;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  margin: 0 0 30px;  
  margin: 0;  
  padding:12px;
  z-index: 99999;
}
.navbar-brand span {
  color: #7AB9D8;
}
.navbar-nav {
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.navbar-nav > li > a {
  color: #2d3563 !important;
  font-size: 14px;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  padding: 32px 15px;
}
.navbar-nav > li > a:hover,
.navbar-nav > li > a.active {
  color: #333333 !important;
}
.navbar-nav li.drop {
  position: relative;
}
.navbar-nav li:hover ul.drop-down {
  opacity: 1;
  display: block;
}
.navbar-nav li.search {
  position: inherit;
}
.top-line {
  padding: 4px 0;
  background: #2D3563;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  overflow: hidden;
}
.top-line ul.info-list {
  margin: 0;
  padding: 0;
}
.top-line ul.info-list li {
  display: inline-block;
  margin-right: 15px;
  color: #ffffff;
  font-size: 12px;
  
}
.top-line ul.info-list li i {
  color: #7AB9D8;
  font-size: 14px;
  margin-right: 10px;
}
.top-line ul.social-icons {
  margin: 0;
  padding: 0;
  text-align: right;
}
.top-line ul.social-icons li {
  display: inline-block;
  margin-left: 9px;
}
.top-line ul.social-icons li a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  font-size: 13px;
  color: #ffffff;
}
.top-line ul.social-icons li a:hover {
  color: #7AB9D8;
}
header.active .top-line {
  height: 0;
  padding: 0;
}
.navbar-collapse {
  position: relative;
}
ul.drop-down {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 230px;
  top: 100%;
  left: 0;
  padding: 10px 0;
  border-top: 2px solid #7AB9D8;
  opacity: 0;
  display: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  background: rgba(255, 255, 255, 0.98);
}
ul.drop-down li {
  display: block;
}
ul.drop-down li a {
  padding: 10px 20px;
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  display: block;
  color: #333333;
  font-size: 12px;
  
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}
ul.drop-down li a:hover {
  color: #7AB9D8;
}
.form-search {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  width: 100%;
  background: #f5f5f5;
  padding: 4px;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  -ms-transform: rotateX(-90deg);
  -o-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.form-search input[type="search"] {
  font-size: 12px;
  color: #777777;
  
  font-weight: 400;
  line-height: 22px;
  margin: 0 0 10px;
  margin: 0;
  color: #333333;
  padding: 8px 10px;
  border: none;
  width: 100%;
  outline: none;
  background: transparent;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.form-search button {
  background: transparent;
  border: none;
  float: right;
  margin-top: -30px;
  margin-right: 10px;
  position: relative;
  z-index: 2;
}
.form-search button i {
  color: #7AB9D8;
  font-size: 16px;
}
.form-search.active {
  visibility: visible;
  opacity: 1;
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
/*-------------------------------------------------*/
/* =  General
/*-------------------------------------------------*/

h2.title-bod {
  color: #333333;
  
  margin: 0 0 15px;
  text-transform: uppercase;  
  font-size: 18px;
  margin-bottom: 25px;
  padding-bottom: 10px;
  font-weight: 700;
  position: relative;
}
h2.title-bod:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 30px;
  height: 1px;
  background: #7AB9D8;
}
#container {
  padding-top: 95px;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
#container.active {
  opacity: 1;
}
p {
  font-size: 12px;
  color: #777777;
  
  font-weight: 400;
  line-height: 22px;
  margin: 0 0 10px;
}
/*-------------------------------------------------*/
/* =  content slider section
/*-------------------------------------------------*/
.title-section.white h1 {
  color: #ffffff;
}
#home-section .tp-caption.small_text {
  position: absolute;
  color: #eeeeee;
  text-shadow: none;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  
  margin: 0px;
  border-width: 0px;
  border-style: none;
  white-space: nowrap;
  letter-spacing: 1.8px;
}
#home-section .tp-caption.small_text p.line {
  width: 60px !important;
  height: 1px !important;
  background: #333333 !important;
}
#home-section .tp-caption.finewide_medium_white {
  color: #ffffff;
  text-shadow: none;
  font-size: 36px;
  line-height: 50px;
  font-weight: 900;
  
  background-color: none;
  text-decoration: none;
  text-transform: uppercase;
  border-width: 0px;
  border-color: transparent;
  border-style: none;
  text-align: left;
  letter-spacing: 2.5;
}
#home-section .tp-caption.finewide_medium_white span {
  color: #7AB9D8;
}
#home-section .tp-caption.finewide_medium_white.center-align {
  text-align: center !important;
}
#home-section .tp-caption span.corner-border {
  display: block;
  width: 70px;
  height: 70px;
}
#home-section .tp-caption span.corner-border.left-top {
  border-top: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
}
#home-section .tp-caption span.corner-border.left-bottom {
  border-bottom: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
}
#home-section .tp-caption span.corner-border.right-top {
  border-top: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
}
#home-section .tp-caption span.corner-border.right-bottom {
  border-bottom: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
}
#home-section .tp-bannertimer {
  display: none !important;
}
#home-section .tp-bullets.simplebullets.round .bullet:hover,
#home-section .tp-bullets.simplebullets.round .bullet.selected {
  background: #7AB9D8;
  border-color: #7AB9D8;
}
#home-section .slotholder:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 2;
}
.banner-section {
  padding: 40px 0;
  background: #2d3563;
  text-align: center;
}
.banner-section h2 {
  color: #333333;
  font-size: 15px;
  
  font-weight: 400;
  margin: 0 0 15px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400 !important;
  margin-bottom: 0;
}
.banner-section a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  margin-left: 60px;
  padding: 12px 30px;
  color: #ffffff;
  background: transparent;
  font-size: 13px;
  font-weight: 700;
  
  text-transform: uppercase;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  border: 2px solid #ffffff;
  letter-spacing: 1.5px;
}
.banner-section a:hover {
  background: #ffffff;
  color: #7AB9D8;
}
.title-section {
  margin-bottom: 30px;
}
.title-section h1 {
  color: #333333;
  font-size: 19px;
  
  font-weight: 700;
  margin: 0 0 30px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-bottom: 20px;
  margin-bottom: 20px;
  position: relative;
}
.title-section h1:after {
  position: absolute;
  content: '';
  width: 40px;
  height: 2px;
  background: #7AB9D8;
  bottom: -1px;
  left: 0;
}
.title-section p {
  max-width: 600px;
  margin: 0;
}
.title-section.white {
  margin-bottom: 40px;
}
.title-section.white h1 {
  color: #ffffff;
}
.title-section.white p {
  color: #ffffff;
}
section.services-section {
  padding: 60px 0 20px;
}
section.services-section .services-box .services-post {
  margin-bottom: 40px;
}
section.services-section .services-box .services-post img {
  width: 100%;
  margin-bottom: 30px;
}
section.services-section .services-box .services-post .services-content {
  padding-right: 10px;
}
section.services-section .services-box .services-post .services-content h2 {
  color: #333333;
  font-size: 15px;
  
  font-weight: 400;
  margin: 0 0 15px;
}
section.services-section .services-box .services-post .services-content a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  font-size: 12px;
  color: #777777;
  
  font-weight: 400;
  line-height: 22px;
  margin: 0 0 10px;
  color: #333333;
  margin: 0;
}
section.services-section .services-box .services-post .services-content a i {
  margin-left: 12px;
}
section.services-section .services-box .services-post .services-content a:hover {
  color: #7AB9D8;
}
.portfolio-section {
  padding: 60px 0;
  background: #fafafa;
}
.portfolio-section .portfolio-box.owl-wrapper {
  margin-left: -15px;
  margin-right: -15px;
}
.portfolio-section .portfolio-box.owl-wrapper .item {
  padding: 0 15px;
}
.portfolio-section .portfolio-box.iso-call {
  margin-left: -15px;
  margin-right: -15px;
}
.portfolio-section .portfolio-box.iso-call .project-post {
  width: 33.3333%;
  padding: 15px;
}
.portfolio-section ul.filter {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  text-align: center;
}
.portfolio-section ul.filter li {
  display: inline-block;
  margin: 0 16px;
}
.portfolio-section ul.filter li a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  color: #333333;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  
}
.portfolio-section ul.filter li a i {
  margin-right: 15px;
  color: #333333;
}
.portfolio-section ul.filter li a:hover,
.portfolio-section ul.filter li a.active {
  color: #7AB9D8;
}
.portfolio-section .project-post .project-gallery {
  position: relative;
}
.portfolio-section .project-post .project-gallery img {
  width: 100%;
}
.portfolio-section .project-post .project-gallery .hover-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  opacity: 0;
}
.portfolio-section .project-post .project-gallery .hover-box .inner-hover {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
}
.portfolio-section .project-post .project-gallery .hover-box .inner-hover h2 {
  color: #333333;
  font-size: 15px;
  
  font-weight: 400;
  margin: 0 0 15px;
  color: #ffffff;
  margin-bottom: 10px;
  padding-bottom: 10px;
  position: relative;
  text-transform: uppercase;
}
.portfolio-section .project-post .project-gallery .hover-box .inner-hover h2 a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  color: #ffffff;
}
.portfolio-section .project-post .project-gallery .hover-box .inner-hover h2 a:hover {
  color: #7AB9D8;
}
.portfolio-section .project-post .project-gallery .hover-box .inner-hover h2:after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 22px;
  height: 1px;
  background: #7AB9D8;
}
.portfolio-section .project-post .project-gallery .hover-box .inner-hover span {
  display: inline-block;
  color: #ffffff;
  font-size: 12px;
  
  margin: 0;
}
.portfolio-section .project-post:hover .project-gallery .hover-box {
  opacity: 1;
}
.owl-theme .owl-controls .owl-pagination {
  display: none !important;
}
.owl-carousel {
  width: auto;
}
.owl-theme .owl-controls {
  margin-top: -20px;
  text-align: center;
  position: absolute;
  height: 0;
  top: 50%;
  left: -50px;
  right: -50px;
}
.owl-theme .owl-controls .owl-buttons div {
  font-size: 18px;
  color: #ffffff;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #000;
  outline: none;
  padding: 0;
  margin: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  opacity: 1;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.owl-theme .owl-controls .owl-buttons div:hover {
  background: #7AB9D8;
}
.owl-theme .owl-controls .owl-buttons div.owl-prev {
  float: left;
}
.owl-theme .owl-controls .owl-buttons div.owl-next {
  float: right;
}
.owl-theme .owl-controls .owl-buttons div.owl-prev:after {
  content: '\f104';
  font-family: 'FontAwesome';
  color: #ffffff;
}
.owl-theme .owl-controls .owl-buttons div.owl-next:after {
  content: '\f105';
  font-family: 'FontAwesome';
  color: #ffffff;
}
.tabs-section {
  padding: 60px 0 60px;
  background: #222222;
  position: relative;
}
.tabs-section .about-us-box h1 {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 0 20px;
  padding-bottom: 10px;
  position: relative;
}
.tabs-section .about-us-box h1:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 30px;
  background: #7AB9D8;
  height: 1px;
}
.tabs-section .about-us-box p {
  margin-bottom: 0px;
}
.tabs-section .about-us-box .about-us-post {
  overflow: hidden;
  margin-top: 30px;
}
.tabs-section .about-us-box .about-us-post a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  float: left;
  width: 60px;
  height: 60px;
  background: #333333;
  text-align: center;
  line-height: 60px;
  font-size: 16px;
  color: #ffffff;
}
.tabs-section .about-us-box .about-us-post a:hover {
  background: #7AB9D8;
}
.tabs-section .about-us-box .about-us-post h2 {
  color: #333333;
  font-size: 15px;
  
  margin: 0 0 15px;
  color: #ffffff;
  margin-left: 80px;
  font-weight: 400;
  margin-bottom: 6px;
  margin-top: 10px;
}
.tabs-section .about-us-box .about-us-post span {
  display: block;
  margin: 0;
  font-size: 11px;
  font-family: georgia;
  margin-left: 80px;
  color: #eeeeee;
  font-style: italic;
}
.tabs-section .about-box {
  padding-left: 15px;
}
.tabs-section .about-box img {
  margin-bottom: 15px;
}
.tabs-section .about-box h2 {
  color: #333333;
  font-size: 15px;
  
  margin: 0 0 15px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.tabs-section .about-box h2:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 30px;
  height: 1px;
  background: #7AB9D8;
}
.tabs-section .about-box p {
  color: #ffffff;
}
.news-section {
  padding: 60px 0 30px;
  background: #fff;
}
.news-section .news-box.owl-wrapper {
  margin-left: -15px;
  margin-right: -15px;
}
.news-section .news-box.owl-wrapper .item {
  padding: 0 15px;
}
.news-section .news-post .news-gallery {
  position: relative;
}
.news-section .news-post .news-gallery img {
  width: 100%;
}
.news-section .news-post .news-gallery .date-post {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 60px;
  background: #7AB9D8;
  padding: 10px 14px;
}
.news-section .news-post .news-gallery .date-post p {
  font-size: 11px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  line-height: 16px;
  font-weight: 700;
  margin: 0;
}
.news-section .news-post .news-gallery .date-post p span {
  display: block;
  font-size: 15px;
  padding-top: 2px;
  margin-top: 2px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}
.news-section .news-post .news-content {
  padding: 25px 0;
  background: #fff;
}
.news-section .news-post .news-content h2 {
  color: #333333;
  font-size: 15px;
  
  font-weight: 400;
  margin: 0 0 15px;
}
.news-section .news-post .news-content h2 a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  color: #333333;
}
.news-section .news-post .news-content h2 a:hover {
  color: #7AB9D8;
}
.news-section .news-post .news-content > a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  font-size: 12px;
  color: #777777;
  
  font-weight: 400;
  line-height: 22px;
  margin: 0 0 10px;
  color: #333333;
  margin: 0;
}
.news-section .news-post .news-content > a i {
  margin-left: 12px;
}
.news-section .news-post .news-content > a:hover {
  color: #7AB9D8;
}
.quote-section {
  padding: 50px 0;
  position: relative;
}
.quote-section #map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.quote-section .container {
  position: relative;
  z-index: 2;
}
.quote-section .quote-box {
  padding: 40px;
  padding-bottom: 10px;
  background: #ffffff;
  border: 1px solid #f1f1f1;
  box-shadow: 2px 2px 5px #aaaaaa;
  -webkit-box-shadow: 2px 2px 5px #aaaaaa;
  -moz-box-shadow: 2px 2px 5px #aaaaaa;
  -o-box-shadow: 2px 2px 5px #aaaaaa;
}
.quote-section .quote-box h1 {
  color: #333333;
  font-size: 15px;
  
  font-weight: 400;
  margin: 0 0 15px;
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 20px;
  text-transform: uppercase;
}
.quote-section .quote-box h1:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 30px;
  height: 1px;
  background: #7AB9D8;
}
.quote-section .quote-box form#contact-form,
.quote-section .quote-box form#career-form{
  margin: 0;
}
.quote-section .quote-box form#contact-form input[type="text"],
.quote-section .quote-box form#contact-form input[type="email"],
.quote-section .quote-box form#contact-form textarea,
.quote-section .quote-box form#career-form input[type="text"],
.quote-section .quote-box form#career-form input[type="email"],
.quote-section .quote-box form#career-form textarea{
  width: 100%;
  padding: 10px 15px;
  border: 1px solid #eaeaea;
  background: transparent;
  margin-bottom: 20px;
  outline: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  color: #777777;
  font-size: 12px;
  
  font-weight: 400 !important;
}
.quote-section .quote-box form#contact-form input[type="text"]:focus,
.quote-section .quote-box form#contact-form input[type="email"]:focus,
.quote-section .quote-box form#contact-form textarea:focus,
.quote-section .quote-box form#career-form input[type="text"]:focus,
.quote-section .quote-box form#career-form input[type="email"]:focus,
.quote-section .quote-box form#career-form textarea:focus{
  border: 1px solid #7AB9D8;
}
.quote-section .quote-box form#contact-form textarea,
.quote-section .quote-box form#career-form textarea{
  height: 100px;
}
.quote-section .quote-box form#contact-form input[type="submit"],
.quote-section .quote-box form#career-form input[type="submit"]{
  padding: 12px 20px;
  outline: none;
  border: none;
  background: #7AB9D8;
  color: #ffffff;
  font-size: 12px;
  
  text-transform: uppercase;
  font-weight: 400;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  margin-bottom: 10px;
}
.quote-section .quote-box form#contact-form input[type="submit"]:hover,
.quote-section .quote-box form#career-form input[type="submit"]:hover{
  opacity: 0.7;
}
.quote-section .quote-box form#contact-form .message,
.quote-section .quote-box form#career-form .message{
  padding: 10px 20px;
  font-size: 13px;
  
}
.quote-section .quote-box form#contact-form .message.error,
.quote-section .quote-box form#career-form .message.error{
  color: #e74c3c;
  background: rgba(246, 80, 80, 0.4);
  border: 1px solid #e74c3c;
}
.quote-section .quote-box form#contact-form .message.success,
.quote-section .quote-box form#career-form .message.success{
  color: #29b504;
  background: rgba(63, 220, 21, 0.4);
  border: 1px solid #29b504;
}
.testimonial-section {
  padding: 70px 0 40px;
  background: url('../images/banner.jpg') center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.testimonial-section .container {
  position: relative;
  z-index: 2;
}
.testimonial-section .testimonial-box {
  text-align: center;
  padding-bottom: 2px;
  margin-bottom: 0px;
}
.testimonial-section .testimonial-box ul.bxslider {
  margin: 0;
  padding: 0;
}
.testimonial-section .testimonial-box ul.bxslider li {
  overflow: hidden;
}
.testimonial-section .testimonial-box p {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  max-width: 800px;
  margin: 0 auto;
}
.testimonial-section .testimonial-box h2 {
  color: #333333;
  font-size: 15px;
  
  font-weight: 400;
  margin: 0 0 15px;
  font-size: 20px;
  color: #7AB9D8;
  text-transform: uppercase;
  margin-bottom: 2px;
}
.testimonial-section .testimonial-box span {
  font-size: 12px;
  color: #777777;
  
  font-weight: 400;
  line-height: 22px;
  margin: 0 0 10px;
  margin: 0 0 20px;
  color: #ffffff;
  font-size: 13px;
  display: block;
  position: relative;
  padding-bottom: 20px;
}
.testimonial-section .testimonial-box span:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -15px;
  width: 30px;
  height: 1px;
  background: #7AB9D8;
}
.testimonial-section .testimonial-box .bx-wrapper .bx-controls-direction {
  display: none;
}
.bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #7AB9D8;
  border-color: #7AB9D8;
}
/*-------------------------------------------------*/
/* =  about page
/*-------------------------------------------------*/
.page-banner-section {
  padding: 50px 0;
  background: #252525;
  overflow: hidden;
}
.page-banner-section h1 {
  color: #333333;
  font-size: 19px;
  
  font-weight: 700;
  margin: 0 0 30px;
  text-transform: uppercase;
  float: left;
  color: #ffffff;
  font-size: 30px;
  letter-spacing: 2px;
  margin-bottom: 0px;
}
.page-banner-section ul.page-depth {
  float: right;
  margin: 0;
  padding: 0;
  text-align: right;
  margin-top: 10px;
}
.page-banner-section ul.page-depth li {
  display: inline-block;
  margin-left: 10px;
}
.page-banner-section ul.page-depth li a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  font-size: 12px;
  color: #777777;
  
  font-weight: 400;
  line-height: 22px;
  margin: 0 0 10px;
  color: #ffffff;
  margin-bottom: 0;
}
.page-banner-section ul.page-depth li a:hover {
  color: #7AB9D8;
}
.page-banner-section ul.page-depth li:before {
  content: '/';
  font-size: 12px;
  color: #777777;
  
  font-weight: 400;
  line-height: 22px;
  margin: 0 0 10px;
  color: #ffffff;
  margin-bottom: 0;
  margin-right: 10px;
}
.page-banner-section ul.page-depth li:first-child:before {
  display: none;
  margin-right: 0;
}
.about-section {
  padding: 80px 0;
  background: #FFF;
}
.about-section img,
.about-section iframe {
  width: 100%;
  margin-bottom: 30px;
}
.about-section iframe {
  height: 328px;
}
.about-section h2 {
  color: #333333;
  font-size: 15px;
  
  font-weight: 400;
  margin: 0 0 15px;
}
.team-section {
  padding: 80px 0;
}
.team-section .team-box {
  margin-left: -15px;
  margin-right: -15px;
}
.team-section .team-box .item {
  padding: 0 15px;
}
.team-section .team-box .team-post .gallery-team {
  position: relative;
  margin-bottom: 30px;
}
.team-section .team-box .team-post .gallery-team img {
  width: 100%;
}
.team-section .team-box .team-post .gallery-team ul.social-list {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 40px;
  margin: 0;
  padding: 0;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  opacity: 0;
}
.team-section .team-box .team-post .gallery-team ul.social-list li {
  display: inline-block;
  text-align: left;
  margin-bottom: 3px;
}
.team-section .team-box .team-post .gallery-team ul.social-list li a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  color: #ffffff;
  background: #333333;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
  line-height: 40px;
  font-size: 14px;
  text-align: center;
}
.team-section .team-box .team-post .gallery-team ul.social-list li a:hover {
  color: #ffffff;
  background: #7AB9D8;
}
.team-section .team-box .team-post .team-content h2 {
  color: #333333;
  font-size: 15px;
  
  font-weight: 400;
  margin: 0 0 15px;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}
.team-section .team-box .team-post .team-content span {
  display: block;
  color: #777777;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #f1f1f1;
}
.team-section .team-box .team-post:hover .gallery-team ul.social-list {
  opacity: 1;
}
/*-------------------------------------------------*/
/* =  single project
/*-------------------------------------------------*/
.single-page-section, .projrctsection {
  padding: 80px 0 0 0;
}
.single-page-section, .projrctsection img {
  width: 100%;
  margin-bottom: 30px;
}
.single-page-section, .projrctsection .project-content h2 {
  color: #333333;
  
  font-weight: 400;
  margin: 0 0 15px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 900;
}
.single-page-section, .project-content .project-tags ul {
  margin: 0;
  padding: 0;
}
.projrctsection .project-content .project-tags ul {
  margin: 0;
  padding: 0;
    background: #eee;
}
.single-page-section, .projrctsection .project-content .project-tags ul li {
  list-style: none;
  display: block;
  color: #777777;
  font-size: 13px;
  font-weight: 700;
  margin-bottom: 2px;
  padding: 10px 0px;
  background: #f7f7f7;
}
.single-page-section, .projrctsection .project-content .project-tags ul li i {
  color: #7AB9D8;
  margin-right: 10px;
}
.single-page-section, .projrctsection .project-content .project-tags ul li span {
  color: #333333;
  margin-right: 4px;
}
.single-page-section, .projrctsection .project-content .project-tags ul li:last-child {
  margin-bottom: 0;
}

.single-page-section{
	padding: 60px 0px !important;
}
/*-------------------------------------------------*/
/* =  blog page
/*-------------------------------------------------*/
.blog-section {
  padding: 50px 0 10px;
}
.blog-section h2 {
  color: #333333;
  font-size: 15px;
  
  font-weight: 400;
  margin: 0 0 15px;
  text-transform: uppercase;
  font-size: 16px;
}
.blog-section .blog-box .blog-post {
  margin-bottom: 50px;
}
.blog-section .blog-box .blog-post img,
.blog-section .blog-box .blog-post iframe {
  width: 100%;
  margin-bottom: 30px;
}
.blog-section .blog-box .blog-post iframe {
  height: 360px;
}
.blog-section .blog-box .blog-post h2 {
  color: #333333;
  font-size: 15px;
  
  font-weight: 400;
  margin: 0 0 15px;
  margin-bottom: 0px;
}
.blog-section .blog-box .blog-post h2 a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  color: #333333;
}
.blog-section .blog-box .blog-post h2 a:hover {
  color: #7AB9D8;
}
.blog-section .blog-box .blog-post span {
  display: inline-block;
  color: #777777;
  font-size: 12px;
  font-weight: 700;
  
  text-transform: uppercase;
  margin: 0 0 25px;
}
.blog-section .blog-box .blog-post .post-content-text > a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  font-size: 12px;
  color: #777777;
  
  font-weight: 400;
  line-height: 22px;
  margin: 0 0 10px;
  color: #333333;
  margin: 0;
}
.blog-section .blog-box .blog-post .post-content-text > a i {
  margin-left: 12px;
}
.blog-section .blog-box .blog-post .post-content-text > a:hover {
  color: #7AB9D8;
}
.blog-section .blog-box ul.pagination-list {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}
.blog-section .blog-box ul.pagination-list li {
  display: inline-block;
  margin-right: 8px;
}
.blog-section .blog-box ul.pagination-list li a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  color: #777777;
  font-size: 14px;
  font-weight: 700;
  
  text-transform: uppercase;
}
.blog-section .blog-box ul.pagination-list li a:hover,
.blog-section .blog-box ul.pagination-list li a.active {
  color: #7AB9D8;
}
.blog-section .blog-box .single-post h1 {
  color: #333333;
  font-size: 15px;
  
  font-weight: 400;
  margin: 0 0 15px;
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 0px;
}
.blog-section .blog-box .single-post p {
  margin-bottom: 25px;
}
.blog-section .blog-box .single-post blockquote {
  border-left: 5px solid #d1d1d1;
  padding: 20px 0;
  padding-left: 30px;
  margin-left: 30px;
  margin-bottom: 25px;
}
.blog-section .blog-box .single-post blockquote p {
  font-size: 14px;
  margin: 0;
}
.blog-section .blog-box .single-post blockquote p span {
  font-size: 12px;
  color: #777777;
  
  font-weight: 400;
  line-height: 22px;
  margin: 0 0 10px;
  font-size: 14px;
  font-weight: 700;
  color: #333333;
  margin-bottom: 0;
  text-transform: inherit;
}
.blog-section .blog-box .autor-post {
  overflow: hidden;
  margin-bottom: 40px;
}
.blog-section .blog-box .autor-post img {
  max-width: 130px;
  float: left;
}
.blog-section .blog-box .autor-post .autor-content {
  margin-left: 150px;
}
.blog-section .blog-box .autor-post .autor-content h2 {
  margin-bottom: 0;
}
.blog-section .blog-box .autor-post .autor-content span {
  display: inline-block;
  color: #777777;
  font-size: 13px;
  
  margin-bottom: 15px;
}
.blog-section .blog-box .comment-section {
  margin-bottom: 40px;
}
.blog-section .blog-box .comment-section h2 {
  margin-bottom: 25px;
}
.blog-section .blog-box .comment-section ul {
  margin: 0;
  padding: 0;
}
.blog-section .blog-box .comment-section ul li {
  list-style: none;
}
.blog-section .blog-box .comment-section ul li .comment-box {
  overflow: hidden;
  padding-bottom: 35px;
  border-bottom: 1px solid #f3f3f3;
  margin-bottom: 40px;
}
.blog-section .blog-box .comment-section ul li .comment-box img {
  width: auto;
  max-width: 100px;
  float: left;
}
.blog-section .blog-box .comment-section ul li .comment-box .comment-content {
  margin-left: 120px;
}
.blog-section .blog-box .comment-section ul li .comment-box .comment-content h4 {
  color: #333333;
  font-size: 13px;
  
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}
.blog-section .blog-box .comment-section ul li .comment-box .comment-content h4 a {
  color: #333333;
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  float: right;
  font-size: 11px;
  font-weight: 400;
}
.blog-section .blog-box .comment-section ul li .comment-box .comment-content h4 a:hover {
  color: #7AB9D8;
}
.blog-section .blog-box .comment-section ul li .comment-box .comment-content span {
  font-size: 12px;
  color: #777777;
  
  line-height: 22px;
  margin: 0 0 10px;
  font-size: 11px;
  display: inline-block;
  font-weight: 400;
  margin-bottom: 5px;
  text-transform: uppercase;
}
.blog-section .blog-box .comment-section ul li .comment-box .comment-content p {
  font-size: 14px;
  margin: 0 !important;
}
.blog-section .blog-box .comment-section ul.depth .comment-box {
  padding-left: 120px;
}
.sidebar h2 {
  color: #333333;
  font-size: 15px;
  
  font-weight: 400;
  margin: 0 0 15px;
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 25px;
}
.sidebar .widget {
  margin-bottom: 40px;
}
.sidebar ul.category-list,
.sidebar ul.archieve-list {
  margin: 0;
  padding: 0;
}
.sidebar ul.category-list li,
.sidebar ul.archieve-list li {
  list-style: none;
  border-bottom: 1px dotted #d1d1d1;
  margin-bottom: 10px;
}
.sidebar ul.category-list li a,
.sidebar ul.archieve-list li a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  color: #333333;
  font-size: 14px;
  font-weight: 400;
  
  padding-bottom: 10px;
}
.sidebar ul.category-list li a:hover,
.sidebar ul.archieve-list li a:hover {
  color: #7AB9D8;
}
.sidebar ul.category-list li:last-child,
.sidebar ul.archieve-list li:last-child {
  border-bottom: none;
  margin-bottom: 0;
}
.sidebar ul.tags-list {
  margin: 0;
  padding: 0;
}
.sidebar ul.tags-list li {
  display: inline-block;
  margin-right: 2px;
  margin-bottom: 6px;
}
.sidebar ul.tags-list li a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  padding: 12px 18px;
  color: #ffffff;
  background: #333333;
  font-size: 13px;
  
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
.sidebar ul.tags-list li a:hover {
  background: #7AB9D8;
}
/*-------------------------------------------------*/
/* =  services
/*-------------------------------------------------*/
.services-tabs ul {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}
.services-tabs ul li {
  display: block;
  margin: 0 0 2px;
}
.services-tabs ul li a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  display: block;
  padding: 18px 25px;
  background: #f1f1f1;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  color: #333333;
  font-size: 14px;
  
  font-weight: 700;
  margin: 0;
}
.services-tabs ul li a:hover {
  background: #7AB9D8;
  color: #ffffff;
}
.services-tabs ul li.active a {
  background: #7AB9D8;
  color: #ffffff;
}
/*-------------------------------------------------*/
/* =  contact page
/*-------------------------------------------------*/
#map {
  height: 500px;
}
.contact-section {
  padding: 90px 0 50px;
}
.contact-section h2 {
  color: #333333;
  font-size: 15px;
  
  font-weight: 400;
  margin: 0 0 15px;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.contact-section p {
  margin-bottom: 30px;
}
.contact-section ul.information-list {
  margin: 0;
  padding: 0;
}
.contact-section ul.information-list li {
  list-style: none;
  overflow: hidden;
  border-bottom: 1px solid #dddddd;
  margin-bottom: 15px;
  padding-bottom: 15px;
}
.contact-section ul.information-list li i {
  float: left;
  color: #333333;
  font-size: 13px;
  display: inline-block;
  line-height: 24px;
}
.contact-section ul.information-list li span {
  display: block;
  font-size: 12px;
  color: #777777;
  
  font-weight: 400;
  line-height: 22px;
  margin: 0 0 10px;
  margin-bottom: 0px;
  margin-left: 25px;
  color: #333333;
}
.contact-section ul.information-list li a {
  font-size: 12px;
  color: #777777;
  
  font-weight: 400;
  line-height: 22px;
  margin: 0 0 10px;
  display: inline-block;
  margin-left: 25px;
  margin-bottom: 10px;
  color: #333333;
}
.contact-section ul.information-list li:last-child {
  border-bottom: none;
}
#contact-form select,
.comment-form select,
#contact-form input[type="text"],
.comment-form input[type="text"],
#contact-form input[type="email"],
.comment-form input[type="email"],
#contact-form textarea,
.comment-form textarea,
#career-form select,
.comment-form select,
#career-form input[type="text"],
.comment-form input[type="text"],
#career-form input[type="email"],
.comment-form input[type="email"],
#career-form textarea,
.comment-form textarea{
  width: 100%;
  padding: 10px 20px;
  border: 1px solid #dedede;
  margin-bottom: 20px;
  outline: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  color: #777777;
  font-size: 13px;
  
}
#contact-form input[type="text"]:focus,
.comment-form input[type="text"]:focus,
#contact-form input[type="email"]:focus,
.comment-form input[type="email"]:focus,
#contact-form textarea:focus,
.comment-form textarea:focus,
#career-form input[type="text"]:focus,
.comment-form input[type="text"]:focus,
#career-form input[type="email"]:focus,
.comment-form input[type="email"]:focus,
#career-form textarea:focus,
.comment-form textarea:focus{
  border: 1px solid #7AB9D8;
}
#contact-form textarea,
.comment-form textarea,
#career-form textarea,
.comment-form textarea{
  height: 146px;
}
#contact-form input[type="submit"],
.comment-form input[type="submit"],
#career-form input[type="submit"],
.comment-form input[type="submit"] {
  padding: 12px 30px;
  outline: none;
  border: none;
  background: #7AB9D8;
  color: #ffffff;
  font-size: 13px;
  
  text-transform: uppercase;
  font-weight: 700;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  margin-bottom: 10px;
}
#contact-form input[type="submit"]:hover,
.comment-form input[type="submit"]:hover,
#career-form input[type="submit"]:hover,
.comment-form input[type="submit"]:hover{
  opacity: 0.7;
}
#contact-form .message,
.comment-form .message,
#career-form .message,
.comment-form .message{
  padding: 10px 20px;
  font-size: 13px;
  
}
#contact-form .message.error,
.comment-form .message.error,
#career-form .message.error,
.comment-form .message.error{
  color: #e74c3c;
  background: rgba(246, 80, 80, 0.4);
  border: 1px solid #e74c3c;
}
#contact-form .message.success,
.comment-form .message.success,
#career-form .message.success,
.comment-form .message.success {
  color: #29b504;
  background: rgba(63, 220, 21, 0.4);
  border: 1px solid #29b504;
}
/*-------------------------------------------------*/
/* =  Responsive Part
/*-------------------------------------------------*/
@media (max-width: 991px) {
  .top-line ul.info-list {
    text-align: center;
    margin-bottom: 5px;
  }
  .top-line ul.social-icons {
    text-align: center;
  }
  .navbar-brand {
    padding: 12px 15px;
  }
  #container {
		padding-top: 95px;
  }
  .navbar-brand img{height:40px;}
  .navbar-nav > li > a {
    padding: 22px 12px;
  }
  .banner-section a {
    margin-top: 5px;
  }
  .tabs-section ul.nav-tabs {
    margin-bottom: 30px;
  }
  .tabs-section .tab-pane img {
    margin-bottom: 20px;
  }
  .quote-section .text-box {
    padding-right: 0;
    margin-bottom: 30px;
  }
  .portfolio-section .portfolio-box.iso-call .project-post {
    width: 50%;
  }
}
@media (max-width: 767px) {
  .navbar-toggle {
    margin-top: 14px;
  }
  .navbar-brand {
    padding-bottom: 17px;
  }
  .navbar-nav > li > a {
    padding: 5px 15px;
  }
  ul.drop-down {
    position: relative;
    opacity: 1;
    display: block;
    top: inherit;
    left: inherit;
    width: 100%;
    border-top: none;
    padding: 5px 0;
  }
  ul.drop-down li a {
    padding: 5px 20px;
  }
  .banner-section a {
    margin-left: 3px;
  }
  .owl-theme .owl-controls {
    left: 15px;
    right: 15px;
  }
  .clients-section ul.clients-list li {
    width: 33.3333%;
    margin-bottom: 20px;
  }
  .page-banner-section h1 {
    float: none;
    text-align: center;
    margin-bottom: 10px;
  }
  .page-banner-section ul.page-depth {
    float: none;
    text-align: center;
  }
  .portfolio-section .portfolio-box.iso-call .project-post {
    width: 100%;
  }
  .portfolio-section ul.filter li {
    margin: 0 6px;
  }
  .blog-section .blog-box .single-post blockquote {
    margin-left: 0;
  }
  .blog-section .blog-box .comment-section ul.depth .comment-box {
    padding-left: 0;
  }
}
@media (max-width: 460px) {
  .top-line {
    display: none;
  }
  #container {
    padding-top: 63px;
  }
  .clients-section ul.clients-list li {
    width: 50%;
  }
  .blog-section .blog-box .comment-section ul li .comment-box img {
    max-width: 60px;
  }
  .blog-section .blog-box .comment-section ul li .comment-box .comment-content {
    margin-left: 80px;
  }
  .blog-section .blog-box .autor-post img {
    width: 100%;
    float: none;
    margin-bottom: 20px;
  }
  .blog-section .blog-box .autor-post .autor-content {
    margin-left: 0;
  }
}
.f-img{
	background-image:url(../images/footer-graph2.jpg);
	background-size:100%;
	background-position:bottom left;
	background-repeat:no-repeat;
}
.Subscription .form-control {
    background-color: #262626;
    background-image: none;
    border: 1px solid #464646;
    border-radius: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #FFF;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}
.btn-color{ background-color: #7AB9D8;border-color:#7AB9D8;color:#FFF;border-radius:0px;}
.foot1 hr{border-color:#464646;}
.aboutpart{
	color:#FFF;
	text-align:center;
}
.cont .brd{
	background-position:top center;
	background-size:100%;
	background-repeat:no-repeat;
	padding:95px 0px;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffffff;
}
.brd{
	background-position:center center;
	background-size:100%;
	background-repeat:no-repeat;
	padding:170px 0px;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffffff;
}
.breadcrumbs {
    background-color: rgba(0, 0, 0, 0.6);
    border-bottom: 1px solid #e9e9e9;
    bottom: 187px;
    color: #fff;
    padding: 15px 0;
    position: absolute;
    text-transform: uppercase;
    width: 100%;
}
.breadcrumbs.proj {
    background-color: rgba(0, 0, 0, 0.6);
    border-bottom: 1px solid #e9e9e9;
    bottom: 3px;
    color: #fff;
    padding: 15px 0;
    position: absolute;
    text-transform: uppercase;
    width: 100%;
	z-index:1000;
}
.breadcrumbs a {
    color: #FFF;
    text-decoration: none;
}
.breadcrumbs span {
    margin-right: 40px;
}
.breadcrumbs span {
    margin-right: 30px;
    position: relative;
}
.breadcrumbs a::before {
    border-bottom: 6px solid transparent;
    border-left: 6px solid rgba(0, 0, 0, 0.2);
    border-top: 6px solid transparent;
    content: "";
    display: inline-block;
    position: absolute;
    right: -11px;
    top: 2px;
}
.breadcrumbs a::after {
    border-bottom: 5px solid transparent;
    border-left: 5px solid #fff;
    border-top: 5px solid transparent;
    content: "";
    display: inline-block;
    position: absolute;
    right: -16px;
    top: 2px;
}
.breadcrumbs a::before {
    right: -18px;
    top: 1px;
}


/* Nav */
.tabs nav {
	text-align: center;
}

.tabs nav ul {
	position: relative;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
	margin: 0 auto;
	padding: 0;
	max-width: 1200px;
	list-style: none;
	-ms-box-orient: horizontal;
	-ms-box-pack: center;
	-webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
}

.tabs nav ul li {
	position: relative;
	z-index: 1;
	display: block;
	margin: 0;
	text-align: center;
	-webkit-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.tabs nav a {
	position: relative;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	/* line-height: 2.5; */
	text-decoration:none;
	font-size: 18px;
	padding:10px !important;
}

.tabs nav a span {
	vertical-align: middle;
}

.tabs nav li.tab-current a {
	color: #FFF;
}

.tabs nav a:focus {
	outline: none;
}

/* Content */
.content-wrap {
	position: relative;
	margin-top:15px;
}

.content-wrap section {
	display: none;
	margin: 0 auto;
	padding: 10px;
	max-width: auto;
}

.content-wrap section.content-current {
	display: block;
}

.content-wrap section p {
}

/* Fallback */
.no-js .content-wrap section {
	display: block;
	padding-bottom: 2em;
	border-bottom: 1px solid rgba(255,255,255,0.6);
}

.no-flexbox nav ul {
	display: block;
}

.no-flexbox nav ul li {
	min-width: 15%;
	display: inline-block;
}

@media screen and (max-width: 58em) {
	.tabs nav a.icon span {
		display: none;
	}
	.tabs nav a:before {
		margin-right: 0;
	}
}
/*****************************/
/* Moving Line */
/*****************************/

.tabs-style-linemove nav {
	background: #0D131B;
}

.tabs-style-linemove nav li:last-child::before {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 4px;
	background: #4fb7ff;
	content: '';
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

/* Move the line */
.tabs-style-linemove nav li:first-child.tab-current ~ li:last-child::before {
	-webkit-transform: translate3d(-400%,0,0);
	transform: translate3d(-400%,0,0);
}

.tabs-style-linemove nav li:nth-child(1).tab-current ~ li:last-child::before {
	-webkit-transform: translate3d(-300%,0,0);
	transform: translate3d(-300%,0,0);
}

.tabs-style-linemove nav li:nth-child(2).tab-current ~ li:last-child::before {
	-webkit-transform: translate3d(-200%,0,0);
	transform: translate3d(-200%,0,0);
}

.tabs-style-linemove nav li:nth-child(3).tab-current ~ li:last-child::before {
	-webkit-transform: translate3d(-100%,0,0);
	transform: translate3d(-100%,0,0);
}

.tabs-style-linemove nav a {
	padding: 1em 0;
	color: #FFF;
	line-height: 1;
	-webkit-transition: color 0.3s, -webkit-transform 0.3s; 
	transition: color 0.3s, transform 0.3s;
}

.tabs-style-linemove nav li.tab-current a {
	color: #FFF;
	-webkit-transform: translate3d(0,8px,0);
	transform: translate3d(0,8px,0);
}

.tabs-style-linemove nav a span {
	font-weight: 700;
}

/*****************************/
/* Underline */
/*****************************/

.tabs-style-underline nav {
	background: #FFF;
}
.tabs-style-underline nav ul li{margin:0px 5px;background-color:transparent;border:1px solid #d0d0d0}
.tabs-style-underline nav ul li a{color:#808080;}
.tabs-style-underline nav a{color:#808080;}
.tabs-style-underline nav a {
	/* padding: 0.25em 0 0.5em; */
	border-left: 0px solid #e7ecea;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

.tabs-style-underline nav li:last-child a {
	border-right: 0px solid #e7ecea;
}
.tabs-style-underline nav ul li.tab-current{background-color:#7ab9d8;}
.tabs-style-underline nav ul li.tab-current a{color:#FFF;}

.tabs-style-underline nav li.tab-current a::after {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.tabs-style-underline nav a span {
	font-weight: 700;
}
/* ============  Mega Menu  ============   */
.container > .navbar-header, .container > .navbar-collapse {margin-left:-15px;margin-right:-15px;}
.mega .nav,
.mega .collapse,
.mega .dropup,.mega .main{
  position: static;
}
.mega .container {
  position: relative;
}
.mega .dropdown-menu {
  left: auto;
}
.mega .nav.navbar-right .dropdown-menu {
  left:auto;
  right: 0px;
}
.mega .mega-content {
  padding:20px;
}
.mega .dropdown.mega-fw .dropdown-menu {
  left: 0;
  right: 0;
}
.mega .dropdown.mega-fw-s .dropdown-menu {
  left: 35%;
  right: 0%;
}
.main .dropdown-menu{background-color:#FFF !important;box-shadow:0 2px 4px rgba(0, 0, 0, 0.176) !important;}
.main .dropdown-menu li {
  display: block;
}
.main .dropdown-menu li a:hover{color:#2d3563;}
.main .dropdown-menu li a {
  padding: 5px 0;
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  display: block;
  color: #333333;
  font-size: 12px;
  
  text-transform: uppercase;
  margin: 0;
}
.main .dropdown-menu{
  color: #333333;
  font-size: 12px;
    
  text-transform: uppercase;  
}
ul.menu{
	margin-left:-40px;
}
.menutitle {
    border-bottom: 1px solid #ccc;
    display: block;
    padding-bottom: 5px;
    width: 100%;
}
.dropdown-menu{
	border-top:2px solid #7ab9d8;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{
	background-color:#7ab9d8;
	color:#FFF;
}
.dropdown-menu > li > a{
	padding:6px 20px;
	font-size: 12px;
	
	text-transform: uppercase;
}
.testimonialpage h3{
	margin-top:0px;
	font-size:18px;
}



/* Collapse
---------------------------------- */
.news .panel-title a{color:#333 !important;font-size:18px;}
.news .panel-body{background-color:transparent;}
.news .panel-default {
    border-color: transparent;
}
.news .panel-default > .panel-heading {
    background-color: transparent;
    border-color: transparent;
    color: #333;
}
.news .panel-default .panel-body {    
	border-top:0px dashed #DCDCDC;
	border-radius:0px 0px 0px 0px;
	border-bottom:0px solid #6A9AC7;
	background-color:#FFF;
}
.news .panel-default > .panel-heading {
    background-color: transparent;
    border-color: transparent;
    color: #333;
	padding:0px 0px;
}
.news .panel {
    background-color: #ebebeb;
    border: 0px solid transparent;
    border-radius: 0px;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
	
}

.date {
    background-color: #2d3563;
    display: inline-block;
    padding: 5px 30px;
    text-align: center;
	margin-right:10px;
	font-size:12px;
	line-height:1.8;
}
.title{
	position:relative;
	top:2px;
	color:#000 !important;
}

blockquote {
    background-color: #f9f9f9;
    border-left: 3px solid #2d3563 ;
    font-size: 17.5px;
    margin: 0 0 20px;
    padding: 10px 20px;
}


.underline {
  position: relative;
}
.underline:after {
  display: block;
  position: absolute;
  left: 10;
  bottom: -3px;
  width: 0;
  height: 3px;
  background-color: #2d3563 ;
  content: "";
  transition: width 0.2s;
}
.underline:hover {
  color: #2d3563 ;
}
.underline:hover:after {
  width: 20%;
}
.contactus{
	background-image:url(../images/contact-us.jpg);
	padding:50px 0px;
	background-repeat:no-repeat;
	background-size:100%;
	background-position:center center;
	background-attachment:fixed;
}
.contact-icon i {
    color: #f4f4f4;
    font-size: 45px;
    font-weight: 500;
}
.contact-area address a{color: #222;}
.contact-area address {
    color: #222;
    font-size: 16px;
    line-height: 22px;
    margin: 0;
    padding: 0;
}
.contact-area.cols-border [class*="col-"] {
    height: 215px;
}
.cols-border [class*="col-"]:first-child {
    border-left: 0 none;
}
.cols-border [class*="col-"] {
    border-left: 1px dotted #fafafa;
}

.news .fa-clock-o{color:#7ab9d8;}
.news span{color:#FFF;}


.thumb .thumbnail img{margin-bottom:0px;}
.thumb .thumbnail{padding:0px;border:0px;margin-bottom:30px;overflow:hidden;}
.thumb .thumbnail .caption{background-color:#f9f9f9;width:100%;border-bottom:2px solid #291770;transition: all 0.5s ease 0s;font-size:14px;}
.thumb .thumbnail:hover .caption{background-color:#fafafa;border-bottom:2px solid #FFDE00;transition: all 0.5s ease 0s;}
ul.sociallist{margin-left:-40px;}
ul.sociallist li{list-style:none;padding:3px 0px;}
.sociallist i{padding-right:10px;}
.sociallist a{color:#FFF;text-decoration:none;}
.abt a {
    background: transparent none repeat scroll 0 0;
    border: 1px solid #ffffff;
    border-radius: 0px;
    color: #ffffff;
    display: inline-block;
    font-size: 12px;
    padding: 7px 14px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out 0s;
}
.abt a:hover {
    background: #ffffff none repeat scroll 0 0;
    color: #000;
}
.navbar-default .navbar-nav > li > a{text-align:center;}
a.facebook:hover{color:#3B5998 !important;}
a.twitter:hover{color:#55ACEE !important;}
a.rss:hover{color:#FFA500 !important;}
a.google:hover{color:#DD4C3B !important;}
a.linkedin:hover{color:#007AB9 !important;}
a.pinterest:hover{color:#BD081C !important;}

.footer-top{
	background-color:#111;
	padding:45px 0 30px 0px;
}
.footer-top .social{
	text-align:center;
	padding:25px 0 0 0;
}
.footer-top .social a{
	margin:0px 10px;
	color:#999;
}
.footer-last{
	background-color:#111;
	border-top:1px solid #1c1c1c;
	padding:16px 0px;
}
.footer-last p {margin:0px;color:#999;}
.footer-last a {color:#999;}



.projecttitle span{font-weight:600;color:#272727;}
.projecttitle{
	text-align:center;
	padding:10px 0px;
}
.single_p_w .single_p_img h6{font-size:16px;}
.single_p_w .single_p_img {
	position:relative;
	 transition: all 0.5s ease 0s !important;
}
.single_p_img{transition: all 0.5s ease 0s !important;}
.single_p_img:hover{transition: all 0.5s ease 0s !important;}
.single_p_w .single_p_img:hover .single_p_hov_c{opacity:1;transition: all 0.5s ease 0s !important;}
.single_p_w .single_p_img .single_p_hov_c {
    background: rgba(255, 255, 255, 0.9) none repeat scroll 0 0;
    border: 1px solid #ebebeb;
    height: 100%;
    left: 0;	
    padding: 10px;
	opacity:0;
    position: absolute;
    top: 0;
    transition: all 0.5s ease 0s !important;
    width: 100%;
}
.single_p_w .single_p_img .single_p_info {
    padding: 25px 0;
    text-align: center;
	 transition: all 0.5s ease 0s !important;
}
.single_p_w .single_p_img .single_btm {
    bottom: 2px;
    left: 0;
    padding: 10px;
    position: absolute;
    width: 100%;
	 transition: all 0.5s ease 0s !important;
}

.single_btm a.btn_norm:active, .single_btm a.btn_norm:focus {
    
    border-color: #3f3f3f;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3) inset;
}
.single_btm a.single_enq {
    background-image: url("../images/enquiry.png");
	background-color: #3f3f3f;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    float: left;
    height: 33px;
    margin-right: 5px;
    width: 38px;
}
.single_p_img .single_btm a.btn_norm:hover {
    background-color: #505050;
    border-color: #3f3f3f;
}
.single_p_img .single_btm a.btn_norm {
    background-color: #505050;
    border-color: #3f3f3f;
	height: 33px;
	padding:5px;
}.single_p_img .single_btm a.btn_norm {
    background-color: #666666;
    border: 0 none #555;
    color: #d1d1d1;
    display: inline-block;
    padding: 5px 12px;
    vertical-align: sub;
    white-space: nowrap;
}

.contaDeatils .box{
	background-color:rgba(10, 0, 0, 0.4) !important;
	padding:30px !important;
	overflow:hidden;
	border-radius:4px;
}
.cdeatils h3{
	font-size:16px;
	color:#FFF;
}
.cdeatils address{
	color:#CCC;
	line-height:1.6;
}
.r{transform:rotate(250deg);}
.cicon i{font-size:5em !important;margin-top:30px;color:#FFF;}
.modal-backdrop.in{opacity:0.8;}
.modal-header .close{margin-top:4px;opacity:0.5;}
.modal-content{border-radius:0px;top:40px;}
.modal-header {
    min-height: 16.43px;
    padding: 8px 15px;
    border-bottom: 1px solid #FFF;
    background-color:#CCC;
}
.pdetails .well{padding:20px;border-radius:0px;box-shadow:0 0px 0px rgba(0, 0, 0, 0.05) inset;border:0px;}
.pdetails .col-sm-5{
	padding-right:0px;
}
.pdetails .col-sm-7{
	padding-left:0px;
}
.p-eff-img{
	background-image:url(../images/p-1.jpg);
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-size:100%;
	color:#272727;
	background-position:center center;
}
.p-eff-img{
	text-align:center;
	padding:90px 0;
}
.font18{
	font-size:16px;
	text-transform:uppercase;
}
.maintit{
	font-size:32px;
	text-transform:uppercase;
	margin-bottom:20px;
	margin-top:20px;
}
.p-eff-img{
	background-image:url(../images/p-1.jpg);
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-size:100%;
	color:#272727;
	background-position:center center;
}
.p-eff-img-s{
/*	background-image:url(../images/p-2.jpg);*/
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-size:100%;
	color:#FFF;
	background-position:center center;
}
.p-eff-img-s p{color:#FFF;font-size:16px;}
.p-eff-img-s{
	text-align:center;
	padding:90px 0;
}
.font18-s{
	font-size:16px;
	text-transform:uppercase;
}
.maintit-s{
	font-size:32px;
	text-transform:uppercase;
	margin-bottom:20px;
	margin-top:20px;
}

h3.ptit{
	font-size:18px;
	text-align:left;
	margin:0;
}
.video{
	padding:80px 0;
}
.getdetails{
	padding-top:20px;
    padding-bottom:30px;
}
.getmore{
/*	padding:0 0 30px 0;*/
	text-align:center;
/*    padding-top: 10px;*/
    padding-bottom: 20px;
}


.services-thumbnail {
    text-align: center;
}
.services-thumbnail h3 {
    margin: auto auto 2px;
    max-width: 85%;
    padding: 2px 0;
}
.services-thumbnail h3::after {
    background-color: #fdd200;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    margin: 5px auto 11px -30px;
    position: absolute;
    width: 60px;
}
.services-thumbnail .services-img {
    background-size: cover;
    color: #ffffff;
    height: 220px;
    width: 220px;
}
.services-thumbnail .services-title-box {
    text-align: left;
    width: 180px;
}
.services-thumbnail .services-content {
    background-color: rgba(255, 255, 255, 0.9);
    color: #252525;
    display: table;
    height: 220px;
    left: -12px;
    line-height: 1.5em;
    opacity: 0;
    padding: 20px;
    position: absolute;
    top: 0;
    transform: scale(1.1);
    transition: all 0.4s ease 0s;
    width: 220px;
    z-index: 100;
}
.services-thumbnail .services-content .sc-wraper {
    display: table-cell;
    vertical-align: middle;
}
.services-thumbnail .services-content p {
    display: none;
}
.services-wrapper.services-thumbnail .services-box {
    margin-bottom: 30px;
    margin-right: 40px;
}
.services-thumbnail .services-box::after {
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
    content: "";
    display: block;
    height: 230px;
    left: -5px;
    position: absolute;
    top: -5px;
    width: 230px;
    z-index: 10;
}
.services-thumbnail .services-box .services-content {
    transform: scale(0.8);
}
.services-thumbnail .services-box:hover .services-content {
    opacity: 1;
    transform: scale(1);
}
.services-thumbnail .services-content {
    left: 0;
}
.services-thumbnail .services-title-box h2 {
    padding: 5px 0;
}
.services-thumbnail .services-content h3 {
    color: #333332;
}
.getdetails .col-md-3{
	padding-left:0px;
}
.sc-wraper h3 a{
	font-size:18px;
	color:#272727;
}




/* Mobile Menu*/


@font-face{font-family:'FontAwesome';src:url('../fonts/fontawesome-webfont.eot?v=4.3.0');src:url('../fonts/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'),url('../fonts/fontawesome-webfont.woff2?v=4.3.0') format('woff2'),url('../fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'),url('../fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'),url('../fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');}
.mobile-logo{padding:4px 10px;}
/* Common styles of menus */
#home .dl-trigger {
    margin-top: 7px;
    position: absolute;
    right: 5px;
    top: 50%;
	clear:both;
}
.navbar{margin-bottom:0px;}
.dl-menuwrapper {
	width: 100%;
	float: left;
	position: relative;
	-webkit-perspective: 1000px;
	perspective: 1000px;
	-webkit-perspective-origin: 50% 200%;
	perspective-origin: 50% 200%;
	z-index:1050;
}

.dl-menuwrapper:first-child {
	margin-right: 100px;
}

.dl-menuwrapper button {
	background: #FFF;
	border: none;
	width: 48px;
	height: 45px;
	text-indent: -900em;
	overflow: hidden;
	position: relative;
	cursor: pointer;
	outline: none;
}

/* .dl-menuwrapper button:hover,
.dl-menuwrapper button.dl-active, */
.dl-menuwrapper ul {
	background: #27272C;
}

.dl-menuwrapper button:after {
	content: '';
	position: absolute;
	width: 68%;
	height: 5px;
	background: #2d3563;
	top: 10px;
	left: 16%;
	box-shadow: 
		0 10px 0 #2d3563, 
		0 20px 0 #2d3563;
}
.dl-menu a{text-decoration:none;}
.dl-menuwrapper ul {
	padding: 0;
	list-style: none;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.dl-menuwrapper li {
	position: relative;
}

.dl-menuwrapper li a {
	display: block;
	position: relative;
	padding: 15px 20px;
	font-size: 16px;
	line-height: 20px;
	font-weight: 500;
	color: #fff;
	outline: none;
}

.no-touch .dl-menuwrapper li a:hover {
	background: rgba(255,248,213,0.1);
}

.dl-menuwrapper li.dl-back > a {
	padding-left: 30px;
	background: rgba(0,0,0,0.1);
}

.dl-menuwrapper li.dl-back:after,
.dl-menuwrapper li > a:not(:only-child):after {
	position: absolute;
	top: 0;
	line-height: 50px;
	font-family: 'FontAwesome';
	speak: none;
	-webkit-font-smoothing: antialiased;
	content: "\f0da";
	color:#FFF;
}

.dl-menuwrapper li.dl-back:after {
	left: 10px;
	color: rgba(212,204,198,0.3);
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

.dl-menuwrapper li > a:after {
	right: 10px;
	color: rgba(0,0,0,0.15);
}

.dl-menuwrapper .dl-menu {
	margin: 5px 0 0 0;
	position: absolute;
	width: 100%;
	opacity: 0;
	pointer-events: none;
	-webkit-transform: translateY(10px);
	transform: translateY(10px);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	top:50px;
}

.dl-menuwrapper .dl-menu.dl-menu-toggle {
	transition: all 0.3s ease;
}

.dl-menuwrapper .dl-menu.dl-menuopen {
	opacity: 1;
	pointer-events: auto;
	-webkit-transform: translateY(0px);
	transform: translateY(0px);
}

/* Hide the inner submenus */
.dl-menuwrapper li .dl-submenu {
	display: none;
}

/* 
When a submenu is openend, we will hide all li siblings.
For that we give a class to the parent menu called "dl-subview".
We also hide the submenu link. 
The opened submenu will get the class "dl-subviewopen".
All this is done for any sub-level being entered.
*/
.dl-menu.dl-subview li,
.dl-menu.dl-subview li.dl-subviewopen > a,
.dl-menu.dl-subview li.dl-subview > a {
	display: none;
}

.dl-menu.dl-subview li.dl-subview,
.dl-menu.dl-subview li.dl-subview .dl-submenu,
.dl-menu.dl-subview li.dl-subviewopen,
.dl-menu.dl-subview li.dl-subviewopen > .dl-submenu,
.dl-menu.dl-subview li.dl-subviewopen > .dl-submenu > li {
	display: block;
}

/* Dynamically added submenu outside of the menu context */
.dl-menuwrapper > .dl-submenu {
	position: absolute;
	width: 100%;
	top: 50px;
	left: 0;
	margin: 0;
}

/* Animation classes for moving out and in */

.dl-menu.dl-animate-out-1 {
	-webkit-animation: MenuAnimOut1 0.4s;
	animation: MenuAnimOut1 0.4s;
}

.dl-menu.dl-animate-out-2 {
	-webkit-animation: MenuAnimOut2 0.3s ease-in-out;
	animation: MenuAnimOut2 0.3s ease-in-out;
}

.dl-menu.dl-animate-out-3 {
	-webkit-animation: MenuAnimOut3 0.4s ease;
	animation: MenuAnimOut3 0.4s ease;
}

.dl-menu.dl-animate-out-4 {
	-webkit-animation: MenuAnimOut4 0.4s ease;
	animation: MenuAnimOut4 0.4s ease;
}

.dl-menu.dl-animate-out-5 {
	-webkit-animation: MenuAnimOut5 0.4s ease;
	animation: MenuAnimOut5 0.4s ease;
}

@-webkit-keyframes MenuAnimOut1 {
	0% { }
	50% {
		-webkit-transform: translateZ(-250px) rotateY(30deg);
	}
	75% {
		-webkit-transform: translateZ(-372.5px) rotateY(15deg);
		opacity: .5;
	}
	100% {
		-webkit-transform: translateZ(-500px) rotateY(0deg);
		opacity: 0;
	}
}

@-webkit-keyframes MenuAnimOut2 {
	0% { }
	100% {
		-webkit-transform: translateX(-100%);
		opacity: 0;
	}
}

@-webkit-keyframes MenuAnimOut3 {
	0% { }
	100% {
		-webkit-transform: translateZ(300px);
		opacity: 0;
	}
}

@-webkit-keyframes MenuAnimOut4 {
	0% { }
	100% {
		-webkit-transform: translateZ(-300px);
		opacity: 0;
	}
}

@-webkit-keyframes MenuAnimOut5 {
	0% { }
	100% {
		-webkit-transform: translateY(40%);
		opacity: 0;
	}
}

@keyframes MenuAnimOut1 {
	0% { }
	50% {
		-webkit-transform: translateZ(-250px) rotateY(30deg);
		transform: translateZ(-250px) rotateY(30deg);
	}
	75% {
		-webkit-transform: translateZ(-372.5px) rotateY(15deg);
		transform: translateZ(-372.5px) rotateY(15deg);
		opacity: .5;
	}
	100% {
		-webkit-transform: translateZ(-500px) rotateY(0deg);
		transform: translateZ(-500px) rotateY(0deg);
		opacity: 0;
	}
}

@keyframes MenuAnimOut2 {
	0% { }
	100% {
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
		opacity: 0;
	}
}

@keyframes MenuAnimOut3 {
	0% { }
	100% {
		-webkit-transform: translateZ(300px);
		transform: translateZ(300px);
		opacity: 0;
	}
}

@keyframes MenuAnimOut4 {
	0% { }
	100% {
		-webkit-transform: translateZ(-300px);
		transform: translateZ(-300px);
		opacity: 0;
	}
}

@keyframes MenuAnimOut5 {
	0% { }
	100% {
		-webkit-transform: translateY(40%);
		transform: translateY(40%);
		opacity: 0;
	}
}

.dl-menu.dl-animate-in-1 {
	-webkit-animation: MenuAnimIn1 0.3s;
	animation: MenuAnimIn1 0.3s;
}

.dl-menu.dl-animate-in-2 {
	-webkit-animation: MenuAnimIn2 0.3s ease-in-out;
	animation: MenuAnimIn2 0.3s ease-in-out;
}

.dl-menu.dl-animate-in-3 {
	-webkit-animation: MenuAnimIn3 0.4s ease;
	animation: MenuAnimIn3 0.4s ease;
}

.dl-menu.dl-animate-in-4 {
	-webkit-animation: MenuAnimIn4 0.4s ease;
	animation: MenuAnimIn4 0.4s ease;
}

.dl-menu.dl-animate-in-5 {
	-webkit-animation: MenuAnimIn5 0.4s ease;
	animation: MenuAnimIn5 0.4s ease;
}

@-webkit-keyframes MenuAnimIn1 {
	0% {
		-webkit-transform: translateZ(-500px) rotateY(0deg);
		opacity: 0;
	}
	20% {
		-webkit-transform: translateZ(-250px) rotateY(30deg);
		opacity: 0.5;
	}
	100% {
		-webkit-transform: translateZ(0px) rotateY(0deg);
		opacity: 1;
	}
}

@-webkit-keyframes MenuAnimIn2 {
	0% {
		-webkit-transform: translateX(-100%);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0px);
		opacity: 1;
	}
}

@-webkit-keyframes MenuAnimIn3 {
	0% {
		-webkit-transform: translateZ(300px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateZ(0px);
		opacity: 1;
	}
}

@-webkit-keyframes MenuAnimIn4 {
	0% {
		-webkit-transform: translateZ(-300px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateZ(0px);
		opacity: 1;
	}
}

@-webkit-keyframes MenuAnimIn5 {
	0% {
		-webkit-transform: translateY(40%);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(0);
		opacity: 1;
	}
}

@keyframes MenuAnimIn1 {
	0% {
		-webkit-transform: translateZ(-500px) rotateY(0deg);
		transform: translateZ(-500px) rotateY(0deg);
		opacity: 0;
	}
	20% {
		-webkit-transform: translateZ(-250px) rotateY(30deg);
		transform: translateZ(-250px) rotateY(30deg);
		opacity: 0.5;
	}
	100% {
		-webkit-transform: translateZ(0px) rotateY(0deg);
		transform: translateZ(0px) rotateY(0deg);
		opacity: 1;
	}
}

@keyframes MenuAnimIn2 {
	0% {
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0px);
		transform: translateX(0px);
		opacity: 1;
	}
}

@keyframes MenuAnimIn3 {
	0% {
		-webkit-transform: translateZ(300px);
		transform: translateZ(300px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateZ(0px);
		transform: translateZ(0px);
		opacity: 1;
	}
}

@keyframes MenuAnimIn4 {
	0% {
		-webkit-transform: translateZ(-300px);
		transform: translateZ(-300px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateZ(0px);
		transform: translateZ(0px);
		opacity: 1;
	}
}

@keyframes MenuAnimIn5 {
	0% {
		-webkit-transform: translateY(40%);
		transform: translateY(40%);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
}

.dl-menuwrapper > .dl-submenu.dl-animate-in-1 {
	-webkit-animation: SubMenuAnimIn1 0.4s ease;
	animation: SubMenuAnimIn1 0.4s ease;
}

.dl-menuwrapper > .dl-submenu.dl-animate-in-2 {
	-webkit-animation: SubMenuAnimIn2 0.3s ease-in-out;
	animation: SubMenuAnimIn2 0.3s ease-in-out;
}

.dl-menuwrapper > .dl-submenu.dl-animate-in-3 {
	-webkit-animation: SubMenuAnimIn3 0.4s ease;
	animation: SubMenuAnimIn3 0.4s ease;
}

.dl-menuwrapper > .dl-submenu.dl-animate-in-4 {
	-webkit-animation: SubMenuAnimIn4 0.4s ease;
	animation: SubMenuAnimIn4 0.4s ease;
}

.dl-menuwrapper > .dl-submenu.dl-animate-in-5 {
	-webkit-animation: SubMenuAnimIn5 0.4s ease;
	animation: SubMenuAnimIn5 0.4s ease;
}

@-webkit-keyframes SubMenuAnimIn1 {
	0% {
		-webkit-transform: translateX(50%);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0px);
		opacity: 1;
	}
}

@-webkit-keyframes SubMenuAnimIn2 {
	0% {
		-webkit-transform: translateX(100%);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0px);
		opacity: 1;
	}
}

@-webkit-keyframes SubMenuAnimIn3 {
	0% {
		-webkit-transform: translateZ(-300px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateZ(0px);
		opacity: 1;
	}
}

@-webkit-keyframes SubMenuAnimIn4 {
	0% {
		-webkit-transform: translateZ(300px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateZ(0px);
		opacity: 1;
	}
}

@-webkit-keyframes SubMenuAnimIn5 {
	0% {
		-webkit-transform: translateZ(-200px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateZ(0);
		opacity: 1;
	}
}

@keyframes SubMenuAnimIn1 {
	0% {
		-webkit-transform: translateX(50%);
		transform: translateX(50%);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0px);
		transform: translateX(0px);
		opacity: 1;
	}
}

@keyframes SubMenuAnimIn2 {
	0% {
		-webkit-transform: translateX(100%);
		transform: translateX(100%);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0px);
		transform: translateX(0px);
		opacity: 1;
	}
}

@keyframes SubMenuAnimIn3 {
	0% {
		-webkit-transform: translateZ(-300px);
		transform: translateZ(-300px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateZ(0px);
		transform: translateZ(0px);
		opacity: 1;
	}
}

@keyframes SubMenuAnimIn4 {
	0% {
		-webkit-transform: translateZ(300px);
		transform: translateZ(300px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateZ(0px);
		transform: translateZ(0px);
		opacity: 1;
	}
}

@keyframes SubMenuAnimIn5 {
	0% {
		-webkit-transform: translateZ(-200px);
		transform: translateZ(-200px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		opacity: 1;
	}
}

.dl-menuwrapper > .dl-submenu.dl-animate-out-1 {
	-webkit-animation: SubMenuAnimOut1 0.4s ease;
	animation: SubMenuAnimOut1 0.4s ease;
}

.dl-menuwrapper > .dl-submenu.dl-animate-out-2 {
	-webkit-animation: SubMenuAnimOut2 0.3s ease-in-out;
	animation: SubMenuAnimOut2 0.3s ease-in-out;
}

.dl-menuwrapper > .dl-submenu.dl-animate-out-3 {
	-webkit-animation: SubMenuAnimOut3 0.4s ease;
	animation: SubMenuAnimOut3 0.4s ease;
}

.dl-menuwrapper > .dl-submenu.dl-animate-out-4 {
	-webkit-animation: SubMenuAnimOut4 0.4s ease;
	animation: SubMenuAnimOut4 0.4s ease;
}

.dl-menuwrapper > .dl-submenu.dl-animate-out-5 {
	-webkit-animation: SubMenuAnimOut5 0.4s ease;
	animation: SubMenuAnimOut5 0.4s ease;
}

@-webkit-keyframes SubMenuAnimOut1 {
	0% {
		-webkit-transform: translateX(0%);
		opacity: 1;
	}
	100% {
		-webkit-transform: translateX(50%);
		opacity: 0;
	}
}

@-webkit-keyframes SubMenuAnimOut2 {
	0% {
		-webkit-transform: translateX(0%);
		opacity: 1;
	}
	100% {
		-webkit-transform: translateX(100%);
		opacity: 0;
	}
}

@-webkit-keyframes SubMenuAnimOut3 {
	0% {
		-webkit-transform: translateZ(0px);
		opacity: 1;
	}
	100% {
		-webkit-transform: translateZ(-300px);
		opacity: 0;
	}
}

@-webkit-keyframes SubMenuAnimOut4 {
	0% {
		-webkit-transform: translateZ(0px);
		opacity: 1;
	}
	100% {
		-webkit-transform: translateZ(300px);
		opacity: 0;
	}
}

@-webkit-keyframes SubMenuAnimOut5 {
	0% {
		-webkit-transform: translateZ(0);
		opacity: 1;
	}
	100% {
		-webkit-transform: translateZ(-200px);
		opacity: 0;
	}
}

@keyframes SubMenuAnimOut1 {
	0% {
		-webkit-transform: translateX(0%);
		transform: translateX(0%);
		opacity: 1;
	}
	100% {
		-webkit-transform: translateX(50%);
		transform: translateX(50%);
		opacity: 0;
	}
}

@keyframes SubMenuAnimOut2 {
	0% {
		-webkit-transform: translateX(0%);
		transform: translateX(0%);
		opacity: 1;
	}
	100% {
		-webkit-transform: translateX(100%);
		transform: translateX(100%);
		opacity: 0;
	}
}

@keyframes SubMenuAnimOut3 {
	0% {
		-webkit-transform: translateZ(0px);
		transform: translateZ(0px);
		opacity: 1;
	}
	100% {
		-webkit-transform: translateZ(-300px);
		transform: translateZ(-300px);
		opacity: 0;
	}
}

@keyframes SubMenuAnimOut4 {
	0% {
		-webkit-transform: translateZ(0px);
		transform: translateZ(0px);
		opacity: 1;
	}
	100% {
		-webkit-transform: translateZ(300px);
		transform: translateZ(300px);
		opacity: 0;
	}
}

@keyframes SubMenuAnimOut5 {
	0% {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		opacity: 1;
	}
	100% {
		-webkit-transform: translateZ(-200px);
		transform: translateZ(-200px);
		opacity: 0;
	}
}

/* No JS Fallback */
/* No JS Fallback */
.no-js .dl-menuwrapper .dl-menu {
	position: relative;
	opacity: 1;
	-webkit-transform: none;
	transform: none;
}

.no-js .dl-menuwrapper li .dl-submenu {
	display: block;
}

.no-js .dl-menuwrapper li.dl-back {
	display: none;
}

.no-js .dl-menuwrapper li > a:not(:only-child) {
	background: rgba(0,0,0,0.1);
}

.no-js .dl-menuwrapper li > a:not(:only-child):after {
	content: '';
}

/* Colors for demos */

/* Demo 1 */
.demo-1 .dl-menuwrapper button {
	background: #c62860;
}

.demo-1 .dl-menuwrapper button:hover,
.demo-1 .dl-menuwrapper button.dl-active,
.demo-1 .dl-menuwrapper ul {
	background: #9e1847;
}

/* Demo 2 */
.demo-2 .dl-menuwrapper button {
	background: #e86814;
}

.demo-2 .dl-menuwrapper button:hover,
.demo-2 .dl-menuwrapper button.dl-active,
.demo-2 .dl-menuwrapper ul {
	background: #D35400;
}

/* Demo 3 */
.demo-3 .dl-menuwrapper button {
	background: #08cbc4;
}

.demo-3 .dl-menuwrapper button:hover,
.demo-3 .dl-menuwrapper button.dl-active,
.demo-3 .dl-menuwrapper ul {
	background: #00b4ae;
}

/* Demo 4 */
.demo-4 .dl-menuwrapper button {
	background: #90b912;
}

.demo-4 .dl-menuwrapper button:hover,
.demo-4 .dl-menuwrapper button.dl-active,
.demo-4 .dl-menuwrapper ul {
	background: #79a002;
}

/* Demo 5 */
.demo-5 .dl-menuwrapper button {
	background: #744783;
}

.demo-5 .dl-menuwrapper button:hover,
.demo-5 .dl-menuwrapper button.dl-active,
.demo-5 .dl-menuwrapper ul {
	background: #643771;
}
.panel-heading a {
	display: inline-block;
	width: 100%;
	position: relative;
	text-decoration: none;
}

.panel-heading a:after {
	font-family: "FontAwesome";
	content: "\f056";
	position: absolute;
	right: 0px;
	font-size: 14px;
	font-weight: 300;
	top: 50%;
	line-height: 1;
	margin-top: -7px;
}
.panel-heading a.collapsed:after {
	content: "\f055";
}

.panel-title a i {
	padding-right: 10px;
	font-size: 20px;
}
.rt{
	margin-left:50px;
}

@media (max-width:760px){
	
}
@media (max-width:768px){
	.brd{ padding:105px 0;}
	.about-section{padding:30px 0;}
	.portfolio-section{padding:30px 0;}
	.contact-section{padding:30px 0;}
	.cont .brd{ padding:30px 0;}
	.contaDeatils .box{padding:5px !important;}
	.cicon i {
		color: #fff;
		font-size: 3em !important;
		margin-top: 50px;
	}
	.mega .dropdown.mega-fw-s .dropdown-menu{
		left:0%;
	}
	.p-eff-img{
		background-attachment:scroll;
	}
	.p-eff-img-s{
		background-attachment:scroll;
	}
	.rt{
	margin-left:0px;
}
}
@media (max-width:640px) {
	#container {padding-top:0px;}
	.brd{padding:45px 0;}
	.about-section{padding:30px 0;}
	.portfolio-section{padding:30px 0;}
	.contact-section{padding:30px 0;}
	.contaDeatils .box{padding:10px !important;margin-bottom:20px;}
	.cont .brd{background-size:auto;padding:30px 0;}
	.cicon i {
		color: #fff;
		font-size: 3em !important;
		margin-top: 40px;
	}
	.single-page-section, .projrctsection{
		padding: 0;
	}
}
@media (max-width: 360px) {
	#container {padding-top:0px;}
	.brd{padding:45px 0;}
	.about-section{padding:30px 0;}
	.portfolio-section{padding:30px 0;}
	.contact-section{padding:30px 0;}
	.contaDeatils .box{padding:10px !important;margin-bottom:20px;}
	.cont .brd{background-size:auto; padding:30px 0;}
	.cicon i {
		color: #fff;
		font-size: 3em !important;
		margin-top: 40px;
	}
	.single-page-section, .projrctsection, .projrctsection {
		padding: 0;
	}
}

.error{display:block;margin-top:-12px;}
#name-error, #email-error{margin-bottom: 16px;}
#resume-error{ margin-top: 6px;
}
 .news-box h1 {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
    margin: 0 0 20px;
    padding-bottom: 10px;
    position: relative;
}
.news-box h1:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30px;
    background: #7AB9D8;
    height: 1px;
}
.padleft0{padding-left: 0px;}
.font18{font-size: 18px !important;}
.inherit{color:inherit;}
.info-list li a:hover{color:#fff !important;}
.marbot20{margin-bottom:20px;}
@media(max-width:610px){
    #phone-error, #mobile-error, #subject-error{
    margin-bottom: 17px;
    }
    .mobabout{margin-top:35px;
    padding-left: 0px !important;}
    .mobaboutus{margin-top:18px;}
    iframe{width:100% !important;}
    .mobsinglepagesection
{
 padding-top: 80px ;
padding-bottom: 50px;
}

.single-page-section{
	padding-top: 30px !important;
}
}
.width{    width: auto !important;
    margin-bottom: 30px;}
#dName-error, #dEmail-error, #dMobile-error{
    margin-top:0px;
}
.imgtitle{

    font-size: 32px;
    margin-bottom: 0px;
    text-transform: uppercase;
}
.titleupper{position: relative;margin-bottom: 20px;}
.center{text-align: center;padding-bottom: 30px;}
.center1{text-align: center;padding-bottom: 20px;}
.fplan{
	padding-bottom:30px;
    padding-top: 20px;  ;
}
.gallery{padding-top: 20px;padding-bottom:30px;}
.location{padding-top: 20px;
    padding-bottom: 46px;}
.home{    padding-bottom: 50px;padding-top:80px;background: #f7f7f7;}
.se-pre-con {
    position:fixed;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
    z-index: 10000;
    background:url(../images/ambika-loader.png) center no-repeat #fff;
}
.aboutul{list-style: none;
    
    margin-left: -40px;
    font-size: 12px;
    color: #777777;}
.homeabout{
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0 0 20px;
    padding-bottom: 10px;
    position: relative;
    text-align: justify;
}
.homeabout:after{
content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30px;
    background: #7AB9D8;
    height: 1px;
}

.video {
    padding-top:20px;
    padding-bottom:30px;
}

.units {
    margin-top:70px;
}

/* RERA Popup */
#modal-rera .modal-header{
	border-bottom: none;
	text-align: center;
	background: #fff
}
#modal-rera .modal-header h4{
	font-size: 20px;
    color: #2D3563;
    font-weight: bold;
    text-transform: uppercase;
}

#modal-rera .modal-content{
	padding: 22px;
}

#modal-rera .modal-content .modal-body h5{
	font-size: 16px;
    line-height: 1.3;
    text-align: justify;
}
#modal-rera .modal-content .modal-footer{
	border-top:none;
}
#modal-rera .modal-content .modal-footer .btn-default{
	color: #fff;
    background-color: #2D3563;
    border-color: #2D3563;
    font-weight: normal;
}
/* RERA Popup */

